{% extends 'core/base.html' %}


{% block inbody %}


<main class="container-fluid text-center mt-2">

  <!-- Main values -->

  <section class="my-4">
    <div class="row">
      <div class="col">
        <h2>
          Income
        </h2>
      </div>  
      <div class="col">
        <h2>
          Profit
        </h2>
      </div>
      <div class="col">
        <h2>
          Expenses
        </h2>
      </div>  
      <div class="col">
        <h2>
          Product Stock
        </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <h2 class="p-5 text-primary">$ {{income}}</h2>
      </div>
      <div class="col">
        <h2 class="p-5 text-success">$ {{profit}}</h2>
      </div>
      <div class="col">
        <h2 class="p-5 text-danger">$ {{expenses}}</h2>
      </div>
      <div class="col">
        <h2 class="p-5 text-secondary">{{total_stock}}</h2>
      </div>
    </div>
  </section>
  
  <!-- Informative Section -->

  <section>
    
    <div class="row">
      <div class="col">
        <h2>
          Latest Sales
        </h2>
      </div>

      <div class="col">
        <h2>
          Sales Summary
        </h2>
      </div>
    </div>
    <div class="row">

      <div class="col col-6 mt-4 mx-auto">
        <div class="row border rounded d-flex justify-content-center align-items-center mt-2 mb-2 gy-1">
          
          <div class="col col-1">
            <p>1</p>
          </div>
          <div class="col col-5">
            <h6>Laptop</h6>
          </div>
          <div class="col col-3">
            <p>qty: 1</p>
          </div>
          <div class="col col-3">
            <p>left stock: 5</p>
          </div>  
          
        </div>        
      </div>

      <div class="col col-6" style="text-align: center;">
        <canvas class="mx-auto w-75 my-4"  id="salesSummaryChart"></canvas>
      </div>

    </div>
  </section>
          
</main>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    
      const salesSummary = document.getElementById("salesSummaryChart");

      new Chart(salesSummary,{
        type: 'line',
        data: {
          labels:['Month 1', 'Month 2', 'Month 3', 'Month 4'],
          datasets: [{
            label: '# of Sales',
            data: [0, 1, 2, 3],
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            }
          }
        }
      });

</script>


{% endblock %}