{% extends 'core/base.html' %}


{% block inbody %}


<main class="container-fluid text-center mt-2">

  <!-- Main values -->

  <section class="my-4">
    <div class="row">
      <div class="col">
        <h2>
          Income
        </h2>
      </div>  
      <div class="col">
        <h2>
          Profit
        </h2>
      </div>
      <div class="col">
        <h2>
          Expenses
        </h2>
      </div>  
      <div class="col">
        <h2>
          Product Stock
        </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <h2 class="p-5 text-primary">$ {{income}}</h2>
      </div>
      <div class="col">
        <h2 class="p-5 text-success">$ {{profit}}</h2>
      </div>
      <div class="col">
        <h2 class="p-5 text-danger">$ {{expenses}}</h2>
      </div>
      <div class="col">
        <h2 class="p-5 text-secondary">{{total_stock}}</h2>
      </div>
    </div>
  </section>
  
  <!-- Informative Section -->

  <section>
    
    <div class="row">
      <div class="col">
        <h2>
          Latest Sales
        </h2>
      </div>

      <div class="col">
        <h2>
          Profit By Month
        </h2>
      </div>
    </div>
    
    <div class="row">
      <!-- Latest Sales -->

      <div class="col col-6 mt-4 mx-auto">
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ordered by</th>
              <th scope="col">Income</th>
              <th scope="col">Profit</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
          {% for transaction in latest_sales %}
            <tr>
              <th scope="row">{{transaction.pk}}</th>
              <th>{{transaction.order.ordered_by}}</th>
              <td>{{transaction.total_income}}</td>
              <td>{{transaction.total_profit}}</td>
              {% if transaction.order.completed %}
              <td>✅</td>
              {% else %}
              <td>⛔</td>
              {% endif %}
              <td><a href="{% url 'transaction' transaction.pk %}">Detail</a></td>
            </tr>
          {% endfor %}
          </tbody>
      </table>

      </div>

      <!-- Profit by Month Chart -->
      <div class="col col-6" style="text-align: center;">
        <canvas class="mx-auto w-75 my-4"  id="salesSummaryChart"></canvas>
      </div>

    </div>
  </section>
          
</main>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    
      const salesSummary = document.getElementById("salesSummaryChart");

      new Chart(salesSummary,{
        type: 'line',
        data: {
          labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
          datasets: [{
            label: 'Profit',
            data: [{% for profit in profit_by_month %}{{profit}},{% endfor %}],
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            }
          }
        }
      });

</script>


{% endblock %}