{% extends 'core/base.html' %}


{% block inbody %}

<main>
  
  <div class="container d-flex justify-content-center align-items-center mt-3">
    <form class="d-flex w-75" role="search" method="post">
      <input class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
      {%csrf_token%}
    </form>
  </div>

  <div class="container-fluid my-5 d-flex flex-wrap p-5 justify-content-evenly">

    {% for product in products_list %}
    <div class="card m-2" style="width: 18rem;">
      <img src="{{ product.image.url }}" class="card-img-top" alt="...">
      <div class="card-body border-top">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">$ {{product.price}}</p>
        <a href="{% url 'edit_product' product.id %}" >Edit product</a>
      </div>
    </div>
    {% endfor %}
    
  
  </div>

            
</main>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    
</script>


{% endblock %}