{% extends 'core/base.html' %}

{% block inbody %}

<main>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col text-center">
                <h1>
                    Edit Product
                </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col col-2">   
            </div>
            <div class="col col-4">
                <img class="img-thumbnail" src="{{product.image.url}}" alt="{{product.name}} image">
            </div>
            <div class="col col-4">
                <div class="row h-50 w-100">
                    <h6 class="mb-3">Product Description</h6>
                    <p class="h-75 border rounded">{{product.description}}</p>
                </div>
                <div class="row h-50 w-100 border rounded p-2">
                        <div class="row">
                            <div class="col">
                                <h6>Product Name:</h6>
                            </div>
                            <div class="col">
                                <p>{{product.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Product Price:</h6>
                            </div>
                            <div class="col">
                                <p>$ {{product.price}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Product Stock:</h6>
                            </div>
                            <div class="col">{{product.stock}}</div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}